# Adding custom rules
.eslintcache

# AI generated code
/docs

# Webstorm
.idea

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# MacOS
.DS_Store


# dotenv environment variables file
.env
.env.test

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
